<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="NTTData_Grid::top"
            title="Company"
            module="NTTData_Grid"
            sortOrder="9999"
            resource="Magento_Backend::content"
        />
        <add
            id="NTTData_Grid::company"
            title="Company Grid"
            module="NTTData_Grid"
            sortOrder="9999"
            resource="NTTData_Grid::company"
            parent="NTTData_Grid::top"
            action="grid/index/index"
        />
    </menu>
</config>
